body{
    text-align: center;
    font-family: "Helvetica Neue";
}

select {
    font-weight: 400;
    border-radius: 3px;
    margin-bottom: 30px;
    padding: 7px;
    background: aquamarine ;
}


.buttonJugar{
    background: black;
    color: aquamarine;
    font-weight: 400;
    letter-spacing: 3px;
    border-radius: 3px;
    border: none;
    padding: 7px;
}

.contenedor{
    width: var(--auto_width);
    margin: 40px auto;
}

.tabla{
    margin: 0 auto;
    border: none;
}

.fila{
    display: flex;
    flex-direction: row;
}
td{
    border: none;
}
.boton{
    background: black;
    color: white;
    width: 100px;
    height: 100px;
    border: none;
    box-shadow: none;
    font-size: 50px;
    text-align: center;
}

.disable{
    background: black;
    color: gray;
    width: 100px;
    height: 100px;
    border: none;
    box-shadow: none;
    font-size: 50px;
    text-align: center;
}


